/* Figma Styles of your File */
:root {
  /* Colors */
  --black: #0c0c0c;
  --blue: #3cb1c3;
  --0c0c0c: #ffffff;
  --green: #3cc35a;
  --gold: #c59600;
  --d9d9d9: #36677f;

  /* Fonts */
  /* Effects */
}
/* Figma Color Variables of your File */
